{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
            <h3>STUDENT LOGIN</h3>
            <form action="/Student/student_dash/" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="enter your email"><br/><br/>
                <button type="submit" class="button">SUBMIT</button>
            </form>
    </div>
</body>
</html>